#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.box{
  letter-spacing: 9px;
  position: relative;
  margin: 40px;

  img{
    width: 100%;
    height: auto;
  }

  .description{
    position: absolute;
    z-index: 100;
    text-align: left;
  }

  &.left{
    width: 45%;

    .description{
      bottom: 15%;
      right: -55%;
    }
  }

  &.right{
    margin-right: 0;
    margin-left: auto;
    width: 60%;

    .description{
      top: 15%;
      left: -35%;
    }
  }
}
