#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.box{
  letter-spacing: 7px;
  background-repeat: no-repeat;

  .description{
    text-align: left;
  }
}

.box-one{
  width: 1175px;
  height: 620px;
  margin: 0;
  padding: 100px 0 50px;
  margin-left: 80px;
  background-image: url(../../images/1.jpg);
  background-size: 800px 530px;

  .description{
    margin-top: 200px;
    padding-left: 480px;
  }
}

.box-two{
  margin-left: 200px;
  padding: 24px 0;
  width: 1576px;
  height: 600px;
  background-image: url(../../images/2.jpg);
  background-size: 1268px 676px;
  background-position: right;
  
}