$color-dark: #131313;
$color-white: #FFF;
$color-start: #2ECC71;
$color-end: #E74C3C;
$color-selected: #C24E00;

$font-text: 'Source Sans 3', sans-serif;

$font-regular: 400;
$font-Semibold: 600;
$font-bold: 700;
$font-black: 900;